body {
    font-family: cursive;
}

main {
    width: 1000px;
    margin: auto;
}

.imageBlock {
    display: inline-block;
}


.information {
    width: 250px;
    height: 250px;
    position: relative;
}

img {
    width: 250px;
    height: 250px;
    cursor: pointer; 
    margin-left: 20px;
}

h1 {
    text-align: center;
}

button {
    cursor: pointer; 
    margin-top: 10px;
    transition: background-color 0.35s
}

blockquote {
    text-align: center;
    margin-left: 20px;
    position: absolute;
    top: 20px;
}

h3 {
    margin-left: 20px;
    position: absolute;
    bottom: 0;
}

.addComment {
    background-color: black;
    color: white;
    margin-bottom: 20px;
    width: 150px;
    margin: 10px auto;
    border: none;
}

.addComment:hover {
    background-color: rebeccapurple;
}