main {
    width: 1000px;
    margin: auto;
}

.imageBlock {
    display: inline-block;
}


.information {
    width: 250px;
    height: 250px;
}

img {
    width: 250px;
    height: 250px;
    cursor: pointer; 
}

h1 {
    text-align: center;
}

button {
    cursor: pointer; 
    margin-top: 10px;
    margin-bottom: 10px;
}